.container {
  max-width: 494px;
  margin-inline: auto;
  padding-inline: 24px;
  padding-bottom: 48px;
  text-align: center;
}

.lead {
  margin-block: 0;
  font-family: var(--font-fancy-sans);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.important {
  display: block;
  margin-block: 16px;
  font-family: var(--font-fancy-serif);
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0;
  color: white;
}

.text {
  margin-top: 0;
  margin-bottom: 80px;
}

.link {
  --shadow-size: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-inline: auto;
  font-family: var(--font-fancy-serif);
  font-size: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
  background-color: white;
  border-radius: 50%;
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 var(--shadow-size) hsla(var(--color-white), .104);
}

@media (min-width: 768px) {

  .container {
    padding-bottom: 90px;
  }

  .lead {
    font-size: 20px;
    letter-spacing: 3.375px;
  }

  .important {
    margin-block: 24px;
    font-size: 150px;
  }

  .text {
    margin-bottom: 156px;
  }

  .link {
    --shadow-size: 77px;

    width: 242px;
    height: 242px;
    font-size: 32px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1200px) {

  .container {
    display: grid;
    grid-template-columns: 460px 274px;
    justify-content: space-between;
    max-width: 1110px;
    padding-inline: 0;
    padding-bottom: 130px;
    text-align: left;
  }

  .lead {
    font-size: 28px;
    letter-spacing: 4.725px;
  }

  .important {
    margin-block: 36px;
  }

  .text {
    margin-bottom: 0;
  }

  .link {
    --shadow-size: 88px;

    grid-row: 1 / span 3;
    grid-column: 2 / 3;
    align-self: end;
    width: 274px;
    height: 274px;
  }
}

@media (hover: hover) and (pointer: fine) {

  .link:hover {
    outline: none;
    box-shadow: 0 0 0 var(--shadow-size) hsla(var(--color-white), .104);
  }
}
